<dx-toolbar
  [items]="toolbarContent">
  <div *dxTemplate="let d of 'titleProject'">
    <div class='toolbar-label'><b>Sticky header</b> test project</div>
  </div>
</dx-toolbar>
<dx-drawer
  [openedStateMode]="selectedOpenMode"
  [position]="selectedPosition"
  [revealMode]="selectedRevealMode"
  template="template"
  [(opened)]="isDrawerOpen"
  [closeOnOutsideClick]="true">
  <div *dxTemplate="let data of 'template'" style="width: 200px">
    <dx-list class="panel-list dx-theme-accent-as-background-color"
             [dataSource]="navigation"
             [hoverStateEnabled]="false"
             [activeStateEnabled]="false"
             [focusStateEnabled]="false">
    </dx-list>
  </div>
  <div id="content">
    <dx-scroll-view id="scrollview"
                    [scrollByContent]="true"
                    [scrollByThumb]="true"
                    [showScrollbar]="'always'"
                    [bounceEnabled]="false">

      <div class="content-box">
        Some content
      </div>
      <div class="content-box">
        Some content
      </div>

      <dx-data-grid [dataSource]="dataSource" [columnWidth]="100"
                    [columnResizingMode]="'nextColumn'" [allowColumnReordering]="true"
                    [hoverStateEnabled]="true" [allowColumnResizing]="true"
                    [rowAlternationEnabled]="true">
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-column-chooser [enabled]="true" [mode]="'select'" ></dxo-column-chooser>

        <dxo-editing
          mode="cell"
          [allowUpdating]="true">
        </dxo-editing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel
          [visible]="true"
          [width]="200"></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-export [enabled]="true" [allowExportSelectedData]="false"></dxo-export>

        <dxo-paging [enabled]="false"></dxo-paging>
      </dx-data-grid>

      <div class="content-box">
        Some content
      </div>
      <div class="content-box">
        Some content
      </div>
    </dx-scroll-view>
  </div>
</dx-drawer>
